
<!-- categories start -->
<section class="categories">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="categoriesHeader">
                    <h3 class="primaryHeading">Categories</h3>
                    <h1 class="secondaryHeading">Product By Categories</h1>
                    <p class="primaryParagraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <img src="../../../../../assets/images/categoriesPic1.png" alt="categories pic 1">
            </div>
            <div class="col-md-4 col-sm-6">
                <img src="../../../../../assets/images/categoriesPic2.png" alt="categories pic 2">
            </div>
            <div class="col-md-4 col-md-offset-0 col-sm-6 col-sm-offset-3">
                <img src="../../../../../assets/images/categoriesPic3.png" alt="categories pic 3">
            </div>
        </div>
    </div>
</section>
<!-- categories end -->