<app-custom-banner *ngIf="isShowBanner" [class]="'login_banner'" [bannerTitle]="'Login'"></app-custom-banner>
<!-- login start -->
<section class="authPage">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <div class="auth">
          <form [formGroup]="formGroup" (ngSubmit)="submit()">
            <h1>Login</h1>
            <app-custom-input [formGroup]="formGroup"
                              [controlName]="'email'"
                              [type]="'email'"
                              [placeholder]="'Email Address'"
                              [errorMessage]="this.errorMessageService.error('email')!">
            </app-custom-input>
            <app-custom-input [formGroup]="formGroup"
                              [controlName]="'password'"
                              [type]="'password'"
                              [placeholder]="'Password'"
                              [errorMessage]="this.errorMessageService.error('password')!">
            </app-custom-input><br>
            <input type="submit" class="btnStyle" value="Login">
            <br>
            <br>
            <a routerLink="/auth/register">Create new Account</a>&nbsp;&nbsp;&nbsp;<a routerLink="/auth/login">Forget passowrd ?</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- login end -->
