<app-custom-banner *ngIf="isShowBanner" [class]="'login_banner'" [bannerTitle]="'Sign Up'"></app-custom-banner>

<!-- register start -->
<section class="authPage">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
                <div class="auth">
                    <form  [formGroup]="formGroup" (submit)="submit()">
                        <h1>Signup</h1>
                        <div class="act">
                          <p>Create</p>
                          <app-custom-dropdown class="selectAccountType"
                                               [class]="'contactInput'"
                                               [placeholder]="'Enter your Role'"
                                               [controlName]="'accountType'"
                                               [formGroup]="formGroup"
                                               [dropdownOptions]="accType"
                                               [errorMessage]="this.errorMessageService.error('accountType')!">
                          </app-custom-dropdown>
                        </div>
                      <app-custom-input [formGroup]="formGroup"
                                        [controlName]="'email'"
                                        [type]="'email'"
                                        [placeholder]="'Enter Email Address'"
                                        [errorMessage]="this.errorMessageService.error('email')!">
                      </app-custom-input>
                      <app-custom-input [formGroup]="formGroup"
                                        [controlName]="'password'"
                                        [type]="'password'"
                                        [placeholder]="'Enter Password'"
                                        [errorMessage]="this.errorMessageService.error('password')!">
                      </app-custom-input>
                      <app-custom-input [formGroup]="formGroup"
                                        [controlName]="'confirmPassword'"
                                        [type]="'password'"
                                        [placeholder]="'Re-Enter Password'"
                                        [errorMessage]="this.errorMessageService.error('confirmPassword')!">
                      </app-custom-input>
                      <app-custom-input [formGroup]="formGroup"
                                        [controlName]="'firstName'"
                                        [type]="'text'"
                                        [placeholder]="'Enter First Name'"
                                        [errorMessage]="this.errorMessageService.error('firstName')!">
                      </app-custom-input>
                      <app-custom-input [formGroup]="formGroup"
                                        [controlName]="'lastName'"
                                        [type]="'text'"
                                        [placeholder]="'Enter Last Name'"
                                        [errorMessage]="this.errorMessageService.error('lastName')!">
                      </app-custom-input>
                        <div class="cbi" [ngClass]="{'errorCbi': !this.errorMessageService.isFormValidate}">
                            <input type="checkbox">&nbsp;
                            <p>By registering you agree our <b><a routerLink="/auth/termsandconditions">Terms of user</a></b></p>
                        </div>
                        <input type="submit" class="btnStyle" value="Signup">
                        <app-custom-spinner [isEnable]="spinner" />
                        <br>
                        <br>
                        <a routerLink="/auth/login">Already have a account ?</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- register end -->
