<!-- product start -->
<section class="product">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="productHeader">
                    <h3 class="primaryHeading">Product</h3>
                    <h1 class="secondaryHeading">Our Product</h1>
                    <p class="primaryParagraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                </div>
            </div>
        </div>
        <div class="row prrow">
            <div class="col-md-3 col-sm-6 col-xs-6">
                <img src="../../../../../assets/images/productPic1.png" alt="product pic 1">
                <p>your Heading here</p>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <img src="../../../../../assets/images/productPic2.png" alt="product pic 1">
                <p>your Heading here</p>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <img src="../../../../../assets/images/productPic3.png" alt="product pic 1">
                <p>your Heading here</p>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <img src="../../../../../assets/images/productPic4.png" alt="product pic 1">
                <p>your Heading here</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="productFooter">
                    <a class="miniButton" href="">View All</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- product end -->