<div class="admin-section">
  <app-admin-header *ngIf="this.IsAdminLoggedInService.isAdminLoggedInValue"/>

  <mat-sidenav-container class="example-container" autosize>
    <mat-sidenav *ngIf="this.IsAdminLoggedInService.isAdminLoggedInValue" #sidenav class="example-sidenav" mode="side" opened="true" (mouseenter)="sideMenuService.mouseenter()" (mouseleave)="sideMenuService.mouseleave()">
      <mat-nav-list>
        <mat-list-item (click)="sideMenuService.changeActive(item.id)" *ngFor="let item of sideMenuService.sideList" [routerLink]="item.link" class="parent">
          <mat-icon>{{item.icon}}</mat-icon>
          <span class="full-width" *ngIf="sideMenuService.isExpanded || sideMenuService.isShowing">{{item.label}}</span>
          <mat-icon class="menu-button" [ngClass]="{'rotated' : item.isActive}" *ngIf="sideMenuService.isExpanded || sideMenuService.isShowing">chevron_right</mat-icon>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <div class="example-sidenav-content" [ngClass]="{isAdmin:!this.IsAdminLoggedInService.isAdminLoggedInValue}">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-container>
</div>
