<div class="admin-section">
  <app-admin-header *ngIf="isAdminLoggedIn"/>

  <mat-sidenav-container class="example-container" autosize>
<!--    <app-admin-sidenav/>-->
    <mat-sidenav *ngIf="isAdminLoggedIn" #sidenav class="example-sidenav" mode="side" opened="true" (mouseenter)="sideMenuService.mouseenter()" (mouseleave)="sideMenuService.mouseleave()">
<!--      <app-admin-sidenav-list />-->
      <mat-nav-list>
<!--        <app-admin-sidenav-items (click)="sideMenuService.changeActive(item.id)" *ngFor="let item of sideMenuService.sideList" [routerLink]="[item.link]" [icon]="item.icon" [label]="item.label" [isActive]="item.isActive"/>-->
        <mat-list-item (click)="sideMenuService.changeActive(item.id)" *ngFor="let item of sideMenuService.sideList" [routerLink]="item.link" class="parent">
          <mat-icon>{{item.icon}}</mat-icon>
          <span class="full-width" *ngIf="sideMenuService.isExpanded || sideMenuService.isShowing">{{item.label}}</span>
          <mat-icon class="menu-button" [ngClass]="{'rotated' : item.isActive}" *ngIf="sideMenuService.isExpanded || sideMenuService.isShowing">chevron_right</mat-icon>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <div class="example-sidenav-content" [ngClass]="{isAdmin:!isAdminLoggedIn}">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-container>
</div>
