<div class="table_section example-container">
    <h2>{{tableName}}</h2>
    <div class="admin_crud_table_header">
      <button (click)="addData.emit()" mat-raised-button color="primary">Add Prodcuts</button>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Search</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
        </mat-form-field>
      </div>
    </div>

    <div class="example-table-container" >
      <table mat-table [dataSource]="dataSource" matSort class="example-table">
        
        <ng-container *ngFor="let column of tableColumnData" [matColumnDef]="column.property">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ column.label }}</th>
          <td mat-cell *matCellDef="let row">
            <ng-container [ngTemplateOutlet]="column.type === 'image' ? imageCell : (column.type === 'btngroup' ? btnGroupCell : defaultCell)"
                          [ngTemplateOutletContext]="{ row: row, column: column }"></ng-container>
          </td>
        </ng-container>

        <ng-template #defaultCell let-row="row" let-column="column">
          {{ row[column.property] }}
        </ng-template>
        
        <ng-template #imageCell let-row="row" let-column="column">
          <img [src]="row[column.property]" alt="Image" width="50" />
        </ng-template>
        
        <ng-template #btnGroupCell let-row="row" let-column="column">
          <app-custom-table-btn-group  (edit)="edit(row,column['property'])" (details)="details(row,column['property'])" (delete)="delete(row,column['property'])"  />
        </ng-template>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" [ngClass]="'dataNotFound'" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>
  
    </div>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>